<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INFOME VENTAS </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <div class="container">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/icofont.min.css" rel="stylesheet">
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet">
    <!--estlos tablas-->
    <link rel="stylesheet" href="../css/estilostablas.css">
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="logo d-lg-block ml-5">
      <h1 class="text-light mt-3"><img src="../imagenes/logo.png" alt="" style="top:-6px ; left: 0%;"
          class="izquierda"><a href="../menusPrincipales/menuventas.html">Reci<span>plas</span></a></h1>
  </header>

  <div class="main-container">
    <h3>Últimas 10 ventas realizadas</h3>
    <table>
      <thead>
        <tr>
          <th>N° DE VENTA</th>
          <th>FECHA</th>
          <th>CLIENTE</th>
          <th>PEDIDO</th>
          <th>ESTADO</th>
          <th>MONTO</th>
          <th>FORMA DE PAGO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1150</td>
          <td>10/05/2020</td>
          <td>34567</td>
          <td>32345</td>
          <td>En proceso</td>
          <td>$15000</td>
          <td>Tarjeta</td>
        </tr>
        <tr>
          <td>1149</td>
          <td>25/04/2020</td>
          <td>89101</td>
          <td>30001</td>
          <td>En proceso</td>
          <td>$7000</td>
          <td>Efectivo</td>
        </tr>
        <tr>
          <td>1148</td>
          <td>23/04/2020</td>
          <td>12349</td>
          <td>29999</td>
          <td>En proceso</td>
          <td>$10000</td>
          <td>Tarjeta</td>
        </tr>
        <tr>
          <td>1147</td>
          <td>09/04/2020</td>
          <td>12348</td>
          <td>27898</td>
          <td>En proceso</td>
          <td>$9500</td>
          <td>Tarjeta</td>
        </tr>
        <tr>
          <td>1146</td>
          <td>30/03/2020</td>
          <td>12346</td>
          <td>25000</td>
          <td>En proceso</td>
          <td>$6000</td>
          <td>Efectivo</td>
        </tr>
        <tr>
          <td>1145</td>
          <td>24/03/2020</td>
          <td>45678</td>
          <td>24500</td>
          <td>¡Terminado!</td>
          <td>$3000</td>
          <td>Efectivo</td>
        </tr>
        <tr>
          <td>1144</td>
          <td>10/03/2020</td>
          <td>10054</td>
          <td>23333</td>
          <td>En Proceso</td>
          <td>$16000</td>
          <td>Tarjeta</td>
        </tr>
        <tr>
          <td>1143</td>
          <td>08/03/2020</td>
          <td>34562</td>
          <td>23222</td>
          <td>¡Terminado!</td>
          <td>$4000</td>
          <td>Efectivo</td>
        </tr>
        <tr>
          <td>1142</td>
          <td>27/02/2020</td>
          <td>34882</td>
          <td>22322</td>
          <td>¡Terminado!</td>
          <td>$10000</td>
          <td>Tarjeta</td>
        </tr>
        <tr>
          <td>1141</td>
          <td>20/02/2020</td>
          <td>35562</td>
          <td>23212</td>
          <td>¡Terminado!</td>
          <td>$5000</td>
          <td>Efectivo</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- MODAL REPORTE -->
  <div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione el reporte que desea visualizar.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <a id="buttonOfModal" href="" class="col-8 mx-auto">CLIENTES</a>
          </div>
          <div class="row">
            <a id="buttonOfModal" href="" class="col-8 mx-auto">PROVEEDORES</a>
          </div>
          <div class="row">
            <a id="buttonOfModal" href="" class="col-8 mx-auto">VENTAS</a>
          </div>
          <div class="row">
            <a id="buttonOfModal" href="" class="col-8 mx-auto">PRODUCTOS</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL REPORTE -->

  <a href="../pantallasTerciarias/BuscarVentasDeProducto.html" target="_blank"
    style="width:auto; height:auto; font-size: 22px; margin-left: 0%; margin-top:10px; background: #102e4d; border-color: #102e4d; margin-bottom: 20px;"
    class="btn btn-info">BUSCAR VENTAS DE PRODUCTO</a>

  <a href="../../pdfs/LayoutVentasgenerales.pdf" target="_blank"
    style="width:auto; height:auto; font-size: 22px; margin-left: 0%; margin-top:10px; background: #102e4d; border-color: #102e4d; margin-bottom: 20px;"
    class="btn btn-info">IMPRIMIR REPORTE</a>

  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="../js/calendario.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/datatables-demo.js"></script>

</body>

</html>